
/* On défini de manière explicite les propriétés des blocs de base */

body {
    
}

header {
    position: relative;
    width: 100%;
    text-align: center;
}

main {
    position: relative;
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
}

/* Définition des propriétés des éléments de l'en-tête */

#logo {
    
}

#title {
    
}

#title h1{
    
}

#menu {
    
}

/* Définition des propriétés des éléments du corps de page */

#accueil {
    
}

#realise-par {
    
}

