@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster/Lobster-Regular.ttf');
}

/* On défini de manière explicite les propriétés des blocs de base */

body {
    
}

header {
    position: relative;
    width: 100%;
    text-align: center;
}

main {
    position: relative;
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
}

h1 {
    font-family: 'Lobster';
    color: #83B518;
}

/* Définition des propriétés des éléments de l'en-tête */

#logo {
    position: absolute;
    top: 0px;
    left: calc(50% - (450px/2));
    z-index: 1;
}

#title {
    position: relative;
    height: 100px;
}

#title h1{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 3em);
    z-index: 0;
}

#menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

#menu li a {
    text-decoration: none;
    color: black;
}

/* Définition des propriétés des éléments du corps de page */

#accueil {
    
}

#accueil img {
    width: 100%;
}

#realise-par {
    
}

